In [1]:
animals = 'Cats ' + 'Dogs '
animals

'Cats Dogs '

In [2]:
animals += 'Rabbits '
animals

'Cats Dogs Rabbits '

In [3]:
fruit = ', '.join(['Apple', 'Banana', 'Orange'])
fruit

'Apple, Banana, Orange'

In [4]:
fruit.split(', ')

['Apple', 'Banana', 'Orange']

In [5]:
fruit.split(',')

['Apple', ' Banana', ' Orange']

In [6]:
1 == '1'

False

In [7]:
1 == int('1')

True

In [8]:
str(1) == '1'

True

In [9]:
if len(animals) > 5:
    print('Greater than 5')

Greater than 5

In [10]:
if not len(animals) > 5:
    print('Greater than 5')

In [11]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(10):
    print('i => ' + str(i))

i => 0
i => 1
i => 2
i => 3
i => 4
i => 5
i => 6
i => 7
i => 8
i => 9

In [13]:
for fruit in ['Apple', 'Banana', 'Orange']:
    print(fruit)

Apple
Banana
Orange

In [14]:
fruits = ', '. join(['Apple', 'Banana', 'Orange'])
for fruit in fruits:
    print(fruit)

A
p
p
l
e
,

B
a
n
a
n
a
,

O
r
a
n
g
e

In [15]:
for fruit in fruits.split(', '):
    print(fruit)

Apple
Banana
Orange

In [16]:
def give_me_37():
    return 37

In [17]:
var1 = give_me_37()

In [18]:
var1

37

In [19]:
def print_37():
    print(37)

In [20]:
var2 = print_37()

37

In [21]:
var2

In [22]:
def greetings(Name):
    return "Hi, %s!" % Name

In [23]:
var3 = greetings('Alex')
var3

'Hi, Alex!'